<article class="background">

    <h1 class="head">Character Finder</h1>
    <p class="para">This Website lets you search for a Marvel Character and displays 20 search results based on your
        search keyword. This website lets you choose a character from the retrieved search results and shows you the
        comic list as well as a short description about that particular character </p>
    <form action="/search" method="POST" class="form">
        <label class="text" for="form">
            Search a Character
        </label>
        <input name="searchTerm" id="searchTerm" type="text" placeholder="Search a Marvel Character">
        <input class="button" type="submit" value="SEARCH">
    </form>
</article>