
<form id="searchForm">
    <label for="search_term" id="search_label">Search Shows</label>
    <input type="text" id="search_term" />
    <button type="submit" >Search</button>
</form>
<div id="error" class="error" hidden>I'm an error</div>
<ul id="showList" hidden >

</ul>
<div id="show" hidden>

</div>
<a href="/" id="homeLink" hidden>Back to All Shows</a>

